<div class="container">
  <div class="row">
    <div class="col-sx-12">
        <h3>simple header</h3>

        <button class="btn btn-primary"
          [disabled]="(!allowNewServer || !serverName.length)"
          (click)="addServer()"> Add server </button>

        <span class="label"
          [ngClass]="{
            'label-success':serverCreationStatus === 'Server created',
            'label-default':serverCreationStatus === 'No status'
          }"
          [innerText]="serverCreationStatus">Default</span>
      <!-- <input type="text" class="form-control"
        (input)="onChangeServerName($event)"> -->

        <input type="text" class="form-control"
          [(ngModel)]="serverName">

        <button class="btn btn-standard"
          [ngStyle]="{'float':'right'}"
          [disabled]="!serverName.length"
          (click)="serverName = ''">reset</button>

        <app-server
          *ngFor="let serverEl of servers; let i=index"
          [serverElement]="serverEl"></app-server>

        <!--<app-success-alert></app-success-alert>
        <app-warning-alert></app-warning-alert> -->

    </div>
  </div>
</div>
